
h1, h2, h4 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    background-color: red;
    color: black;
}

body {
    background-color: antiquewhite;
}

.p, ul > li, h3, ol > li {
    text-align: center;
    list-style-position: inside;
}

